################################################################
#               UBUNTU 22.04 LTS - SSH Server
#               Host:       {{ inventory_hostname }}
#               IP Address: {{ ansible_default_ipv4.address }}
#
#               UNAUTHORIZED ACCESS IS PROHIBITED
#
#   This system is for authorized users only. All activity
#   is monitored and logged. By continuing, you consent to
#   this monitoring. Unauthorized access will be prosecuted.
################################################################
